@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

::-webkit-scrollbar {
  width: 0.75em;
  height: 0.75em;
}

::-webkit-scrollbar-track {
  background: linear-gradient(rgba(52, 211, 153, 400), rgba(96, 165, 250, 500));
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: white;
  /* border: 0.1em solid rgba(96, 165, 250, 500); */
  border-radius: 100vw;
}
